<div class="register">
    <form class="custom-form" method="post">
      <h1>Registrar cliente</h1>
      <input
        id = "name"
        type="text"
        name="name"
        placeholder="Name"
        
      />
      <input
      id ="last_name"
      type="text"
      name="lastname"
      placeholder="LastName"
      
      />
      <input
      id ="edad"
      type="text"
      name="edad"
      placeholder="edad"
      
      />
      <input
      id ="dpi"
      type="text"
      name="dpi"
      placeholder="DPI"
      
      />
      <input
      id="Genero"
      type="text"
      name="cuenta"
      placeholder="Genero"
      
      />
       
      <input
      id ="email"
      type="email"
      name="email"
      placeholder="Email"
      required="required"
      
      />
      <button type="submit">Registrar cliente</button>
    </form>
  </div>
